*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

main {
    height: 300dvh;
}

header {
    background: linear-gradient(40deg, #ba3816, #a41705, 40%);
    width: 500px;
    height: 500px;
    border-radius: 1000px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-top: -360px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    animation: slideInDown 1500ms ease-out;
}

img {
    width: 180px;
    height: auto;
    margin-bottom: 30px;
}

@keyframes slideInDown {
    from {
        transform: translate3d(-50%, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(-50%, 0, 0);
        
    }
}